@import url("https://fonts.googleapis.com/css?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");

body {
  margin: 0;
  font-family: "Sriracha", cursive;
}

a:hover {
  text-decoration: none;
}

/* Navbar */
.nav-icon {
  width: 1.8em;
  height: 1.8em;
}

.nav-brand {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}
.nav-brand:hover {
  color: black;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: rgba(99, 91, 91, 0.5);
}

.nav-fa {
  padding: 0 1.6rem 0 1.6rem !important;
}

.btn-signin {
  background-color: rgba(99, 91, 91, 0.5);
  border: none;
}

.btn-signin:active:hover {
  background-color: rgba(99, 91, 91, 0.5);
}

.btn-search {
  color: rgb(22, 3, 192);
}

.btn-search:hover {
  color: rgb(161, 78, 150);
  text-decoration: none;
  font-style: italic;
}

.search-pic {
  width: 60px;
  height: 80px;
}

.modal-body {
  padding-bottom: 0;
}
.media-title {
  padding: 30px 0 0 20px !important;
}

.media-heading {
  font-size: 1rem;
  color: rgb(22, 3, 192);
}

.media-heading:hover {
  color: rgb(161, 78, 150);
  font-style: italic;
}

/* Carousel */
.section-title {
  font-size: 3.5rem;
  margin: 5rem 0 5rem 0;
  text-align: center;
  font-family: "Lobster", cursive;
}

.section-titles {
  font-size: 3.5rem;
  margin: 5rem 0 5rem 0;
  text-align: center;
  font-family: "Lobster", cursive;
}

@media screen and (max-width: 700px) {
  .section-title {
    font-size: 3rem;
  }
  .section-titles {
    font-size: 3rem;
    margin: 5rem 0 3rem 0;
  }
}

@media screen and (max-width: 425px) {
  .section-title {
    font-size: 2.4rem;
  }
  .section-titles {
    font-size: 2.4rem;
    margin: 5rem 0 1rem 0;
  }
}

.section-title a {
  color: rgb(83, 81, 81);
}

.carousel-inners {
  width: 80%;
  height: 1400px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 1124px) {
  .carousel-inners {
    height: 1200px;
  }
}


@media screen and (max-width: 880px) {
  .carousel-inners {
    height: 700px;
  }
}

@media screen and (max-width: 597px) {
  .carousel-inners {
    height: 500px;
  }
}

@media screen and (max-width: 425px) {
  .carousel-inners {
    height: 300px;
  }
}
.carousel-item {
  transition: ease-in-out;
  font-size: 1.4vw;
  font-family: "Special Elite", cursive;
  font-weight: 0;
}

img {
  width: 100%;
  height: 100%;
}

.card {
  margin: 0 1vw 0 1vw;
  align-self: flex-start;
}

.card-img {
  width: 400px;
  height: 600px;
}

.card-title {
  font-size: 2.2rem;
  color: rgb(22, 3, 192);
  font-weight: 550;
}

.card-title:hover {
  color: rgb(161, 78, 150);
  font-style: italic;
}

.card-titles {
  font-size: 2.3rem;
  color: rgb(22, 3, 192);
  font-weight: 550;
}

.card-titles:hover {
  color: rgb(161, 78, 150);
  font-style: italic;
}

.card-subtitle {
  font-size: 1.5rem;
}
.card-subtitles {
  font-size: 1.1rem;
}

@media screen and (max-width: 880px) {
  .card-titles {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .card-subtitle {
    font-size: 1rem;
  }
  .card-subtitles {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 597px) {
  .card-titles {
    display: none;
  }
}

@media screen and (max-width: 538px) {
  .card-subtitle {
    font-size: .7rem;
  }
  .card-subtitles {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .card-subtitle {
    font-size: .5rem;
  }
  .card-subtitles {
    font-size: .9rem;
  }
}



@media screen and (max-width: 373px) {
  .card-title {
    font-size: 1.3rem;
  }
}

.card-text {
  font-size: 1.3rem;
  padding-top: 0.7rem;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .card-text {
    font-size: 1.1rem;
  }
}

/* Tabs */

.nav-tabs {
  text-align: center;
}
.tabs {
  width: 80%;
  margin: 2vw auto 20vw auto;
}

.tab-btn {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #dee2e6;
  background-color: white;
}

.nav-items {
  width: 70px;
  height: 100%;
  margin: 60px 23px 10px;
}

@media screen and (max-width: 1024px) {
  .nav-items {
    margin: 50px 10px;
  }
}
@media screen and (max-width: 788px) {
  .nav-items {
    margin: 30px 0;
  }
}

@media screen and (max-width: 425px) {
  .tab-btn {
    font-size: .8rem;
  }
}

.nav-items:focus {
  border: none;
}
.media-body {
  padding-top: 50px;
}

.media-pic {
  width: 200px;
  height: 300px;
}

@media screen and (max-width: 550px) {
  .media-pic {
    width: 150px;
    height: 200px;
  }
  .watchlist-plot{
    display: none
  }
}

@media screen and (max-width: 472px) {
  .watchlist-info{
    display: none
  } 

}

@media screen and (max-width: 425px) {
  .media-pic {
    width: 100px;
    height: 150px;
  }
  
}

.cards-body {
  border: none;
  padding-top: 0;
  margin-left: 40px;
}

.watchlist-icon {
  color: black;
  background-color: white;
  border: none;
}

.watchlist-icon:hover {
  color: black;
}

/* explore */
.btn-row {
  padding-top: 4rem;
  text-align: center;
}

.btn-explore,
.btn-explore:visited,
.btn-explore:focus {
  width: 400px;
  height: 200px;
  border-radius: 50px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  transition: none;
  background-color: white;
  background-position: center !important;
}
.btn-explore:hover,
.btn-explore:active {
  border-radius: 50px;
  border: 0;
  color: rgb(0, 0, 0);
  box-shadow: none;
  transition: none;
  background-color: white;
  background-position: center;
}

@media screen and (max-width: 425px) {
  .btn-explore {
    width: 300px;
  height: 150px;
  }
}

.Action {
  background-image: url(
    https://m.media-amazon.com/images/M/MV5BNzVlY2MwMjktM2E4OS00Y2Y3LWE3ZjctYzhkZGM3YzA1ZWM2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SY1000_CR0,0,643,1000_al_.jpg
  );
}

.Adventure {
  background-image: url(
    https://m.media-amazon.com/images/M/MV5BMDliMmNhNDEtODUyOS00MjNlLTgxODEtN2U3NzIxMGVkZTA1L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SY1000_CR0,0,675,1000_al_.jpg
  );
}

.Animation {
  background-image: url(
    https://m.media-amazon.com/images/M/MV5BMjA5NDQyMjc2NF5BMl5BanBnXkFtZTcwMjg5ODcyMw@@._V1_SY1000_CR0,0,672,1000_al_.jpg
  );
}

.Biography {
  background-image: url(
    https://m.media-amazon.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@._V1_SY1000_CR0,0,674,1000_al_.jpg
  );
}

.Crime {
  background-image: url(
    https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SY1000_CR0,0,686,1000_al_.jpg
  );
}

.Documentary {
  background-image: url(https://m.media-amazon.com/images/M/MV5BNGU2OGJkZTItYmRmNi00YTI2LWFkNzEtNjY2MGZiZTRhMzRkXkEyXkFqcGdeQXVyMjYwNDA2MDE@._V1_.jpg);
}

.Drama {
  background-image: url(https://m.media-amazon.com/images/M/MV5BNWIwODRlZTUtY2U3ZS00Yzg1LWJhNzYtMmZiYmEyNmU1NjMzXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg);
}

.Film-Noir {
  background-image: url(https://m.media-amazon.com/images/M/MV5BYTc1NGViOTMtNjZhNS00OGY2LWI4MmItOWQwNTY4MDMzNWI3L2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SY1000_SX654_AL_.jpg);
}

.History {
  background-image: url(https://m.media-amazon.com/images/M/MV5BMjExMTEzODkyN15BMl5BanBnXkFtZTcwNTU4NTc4OQ@@._V1_.jpg);
}

.Horror {
  background-image: url(
    https://m.media-amazon.com/images/M/MV5BNTQwNDM1YzItNDAxZC00NWY2LTk0M2UtNDIwNWI5OGUyNWUxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SY1000_CR0,0,672,1000_al_.jpg
  );
}

.Music {
  background-image: url(
    https://m.media-amazon.com/images/M/MV5BOTA5NDZlZGUtMjAxOS00YTRkLTkwYmMtYWQ0NWEwZDZiNjEzXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX675_CR0,0,675,999_al_.jpg
  );
}

.Musical {
  background-image: url(
    https://m.media-amazon.com/images/M/MV5BMTQ4NDI3NDg4M15BMl5BanBnXkFtZTcwMjY5OTI1OA@@._V1_SY1000_CR0,0,674,1000_al_.jpg
  );
}

.Mystery {
  background-image: url(
    https://m.media-amazon.com/images/M/MV5BZTcyNjk1MjgtOWI3Mi00YzQwLWI5MTktMzY4ZmI2NDAyNzYzXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SY1000_CR0,0,681,1000_al_.jpg
  );
}

.Romance {
  background-image: url(
    https://m.media-amazon.com/images/M/MV5BNDg4NjM1YjMtYmNhZC00MjM0LWFiZmYtNGY1YjA3MzZmODc5XkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SY1000_CR0,0,666,1000_al_.jpg
  );
}

.Sci-Fi {
  background-image: url(
    https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SY1000_CR0,0,665,1000_al_.jpg
  );
}

.War {
  background: url(https://m.media-amazon.com/images/M/MV5BY2IzZGY2YmEtYzljNS00NTM5LTgwMzUtMzM1NjQ4NGI0OTk0XkEyXkFqcGdeQXVyNDYyMDk5MTU@._V1_.jpg);
}

/* moive */
.movie-title {
  width: 100%;
  padding: 5rem 0 4rem 0;
  font-size: 4rem;
  color: rgb(22, 3, 192);
  text-align: center;
  font-family: "Lobster", cursive;
}

.movie-title:hover {
  color: rgb(161, 78, 150);
  font-style: italic;
  text-align: center;
  font-family: "Lobster", cursive;
}

.movie-poster {
  width: 100%;
  text-align: center;
}



.movie-actual-poster {
  width: 60%;
}

@media screen and (max-width: 990px) {
  .movie-actual-poster {
    width: 80%;
  }
}


@media screen and (max-width: 768px) {
  .movie-actual-poster {
    width: 90%;
  }
}

.movie-director {
  width: 100%;
  font-size: 3rem;
  padding: 3rem 0 2rem 0;
  text-align: center;
  color: rgb(22, 3, 192);
  font-style: italic;
  font-family: "Lobster", cursive;
}

@media screen and (max-width: 524px) {
  .movie-director  {
    font-size: 2rem;
  }
  .movie-info {
    font-size: 1rem;
  }
}

@media screen and (max-width: 347px) {
  .movie-director  {
    font-size: 1.6rem;
  }
}

.movie-info {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.8rem 0 0.8rem 0;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.movie-actor {
  width: 100%;
  font-size: 2rem;
  padding: 2rem 0 0 0;
  text-align: center;
  font-family: "Lobster", cursive;
}

.movie-actor-link {
  color: rgb(22, 3, 192);
  text-align: center;
  font-size: 2.5rem;
}

.movie-actor-link:hover {
  color: rgb(161, 78, 150);
  font-style: italic;
  font-size: 2.5rem;
}

.movie-btn {
  width: 100%;
  padding: 3rem 0 3rem 0;
  text-align: center;
  color: black;
}

.movie-rl-btn {
  background-color: white;
  color: black;
  font-size: 3rem;
  border: none;
}


/* footer */

.nav-links {
  color: black;
  margin: 30px 10px;
}
.nav-links:hover {
  color: rgb(161, 78, 150);
}


/* responsive */

.watchlist {
  height: 1400px;
}

@media screen and (max-width: 450px) {
  .comingsoon-Card {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .comingsoon-Plot {
    display: none;
  }
}


@media screen and (max-width: 880px) {
  .intheater-cardtext {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .intheater-cardbody {
    display: none;
  }
}
